In [1]:
# Importing required libraries
import pandas as pd
import numpy as np

In [2]:
# Project DataFrame
project_data = {
    "ID": ["A001", "A002", "A003", "A004", "A005"],
    "Project": ["Project 1", "Project 2", "Project 3", "Project 4", "Project 5"],
    "Cost": [1000000, np.nan, 4500000, 3000000, 1200000],
    "Status": ["Finished", "Ongoing", "Finished", "Ongoing", "Finished"]
}
project_df = pd.DataFrame(project_data)
print("Project DataFrame:")
print(project_df)

Project DataFrame:
     ID    Project       Cost    Status
0  A001  Project 1  1000000.0  Finished
1  A002  Project 2        NaN   Ongoing
2  A003  Project 3  4500000.0  Finished
3  A004  Project 4  3000000.0   Ongoing
4  A005  Project 5  1200000.0  Finished

In [3]:
# Employee DataFrame
employee_data = {
    "ID": ["A001", "A002", "A003", "A004", "A005"],
    "Name": ["John Alter", "Alice Luxemberg", "Mike Jobs", "Nina Adgra", "Fred Cory"],
    "Gender": ["M", "F", "M", "F", "M"],
    "City": ["Paris", "London", "Berlin", "New York", "Madrid"],
    "Age": [25, 27, 29, 31, 30]
}
employee_df = pd.DataFrame(employee_data)
print("Employee DataFrame:")
print(employee_df)

Employee DataFrame:
     ID             Name Gender      City  Age
0  A001       John Alter      M     Paris   25
1  A002  Alice Luxemberg      F    London   27
2  A003        Mike Jobs      M    Berlin   29
3  A004       Nina Adgra      F  New York   31
4  A005        Fred Cory      M    Madrid   30

In [4]:
# Seniority Level DataFrame
seniority_data = {
    "ID": ["A001", "A002", "A003", "A004", "A005"],
    "Designation Level": [2, 3, 3, 4, 3]
}
seniority_df = pd.DataFrame(seniority_data)
print("Seniority Level DataFrame:")
print(seniority_df)

Seniority Level DataFrame:
     ID  Designation Level
0  A001                  2
1  A002                  3
2  A003                  3
3  A004                  4
4  A005                  3

In [5]:
# Save DataFrames to CSV files
project_df.to_csv("project.csv", index=False)
employee_df.to_csv("employee.csv", index=False)
seniority_df.to_csv("seniority.csv", index=False)
print("Files saved: project.csv, employee.csv, seniority.csv")

Files saved: project.csv, employee.csv, seniority.csv

In [6]:
# Replace missing values in the Cost column using running average
for i in range(len(project_df)):
    if pd.isna(project_df.loc[i, "Cost"]):
        project_df.loc[i, "Cost"] = project_df["Cost"][:i].mean()
print("Updated Project DataFrame:")
print(project_df)

Updated Project DataFrame:
     ID    Project       Cost    Status
0  A001  Project 1  1000000.0  Finished
1  A002  Project 2  1000000.0   Ongoing
2  A003  Project 3  4500000.0  Finished
3  A004  Project 4  3000000.0   Ongoing
4  A005  Project 5  1200000.0  Finished

In [7]:
# Split Name into First Name and Last Name
employee_df[["First Name", "Last Name"]] = employee_df["Name"].str.split(" ", expand=True)
employee_df.drop(columns=["Name"], inplace=True)
print("Updated Employee DataFrame:")
print(employee_df)

Updated Employee DataFrame:
     ID Gender      City  Age First Name  Last Name
0  A001      M     Paris   25       John      Alter
1  A002      F    London   27      Alice  Luxemberg
2  A003      M    Berlin   29       Mike       Jobs
3  A004      F  New York   31       Nina      Adgra
4  A005      M    Madrid   30       Fred       Cory

In [8]:
# Merge all DataFrames into a single DataFrame
final_df = pd.merge(project_df, employee_df, on="ID")
final_df = pd.merge(final_df, seniority_df, on="ID")
print("Final DataFrame:")
print(final_df)

Final DataFrame:
     ID    Project       Cost    Status Gender      City  Age First Name  \
0  A001  Project 1  1000000.0  Finished      M     Paris   25       John
1  A002  Project 2  1000000.0   Ongoing      F    London   27      Alice
2  A003  Project 3  4500000.0  Finished      M    Berlin   29       Mike
3  A004  Project 4  3000000.0   Ongoing      F  New York   31       Nina
4  A005  Project 5  1200000.0  Finished      M    Madrid   30       Fred

   Last Name  Designation Level
0      Alter                  2
1  Luxemberg                  3
2       Jobs                  3
3      Adgra                  4
4       Cory                  3

In [9]:
# Add a 5% bonus for employees who have finished projects
final_df["Bonus"] = final_df.apply(lambda row: row["Cost"] * 0.05 if row["Status"] == "Finished" else 0, axis=1)
print("Final DataFrame with Bonus:")
print(final_df)

Final DataFrame with Bonus:
     ID    Project       Cost    Status Gender      City  Age First Name  \
0  A001  Project 1  1000000.0  Finished      M     Paris   25       John
1  A002  Project 2  1000000.0   Ongoing      F    London   27      Alice
2  A003  Project 3  4500000.0  Finished      M    Berlin   29       Mike
3  A004  Project 4  3000000.0   Ongoing      F  New York   31       Nina
4  A005  Project 5  1200000.0  Finished      M    Madrid   30       Fred

   Last Name  Designation Level     Bonus
0      Alter                  2   50000.0
1  Luxemberg                  3       0.0
2       Jobs                  3  225000.0
3      Adgra                  4       0.0
4       Cory                  3   60000.0

In [10]:
# Demote designation level for failed projects and drop employees with level > 4
final_df["Designation Level"] = final_df["Designation Level"].apply(lambda x: x - 1 if x > 4 else x)
final_df = final_df[final_df["Designation Level"] <= 4]
print("After Demotion and Filtering:")
print(final_df)

After Demotion and Filtering:
     ID    Project       Cost    Status Gender      City  Age First Name  \
0  A001  Project 1  1000000.0  Finished      M     Paris   25       John
1  A002  Project 2  1000000.0   Ongoing      F    London   27      Alice
2  A003  Project 3  4500000.0  Finished      M    Berlin   29       Mike
3  A004  Project 4  3000000.0   Ongoing      F  New York   31       Nina
4  A005  Project 5  1200000.0  Finished      M    Madrid   30       Fred

   Last Name  Designation Level     Bonus
0      Alter                  2   50000.0
1  Luxemberg                  3       0.0
2       Jobs                  3  225000.0
3      Adgra                  4       0.0
4       Cory                  3   60000.0

In [11]:
# Add 'Mr.' and 'Mrs.' Prefix
final_df["First Name"] = final_df.apply(
    lambda row: "Mr. " + row["First Name"] if row["Gender"] == "M" else "Mrs. " + row["First Name"], axis=1
)
print("After Adding Prefixes:")
print(final_df)

After Adding Prefixes:
     ID    Project       Cost    Status Gender      City  Age  First Name  \
0  A001  Project 1  1000000.0  Finished      M     Paris   25    Mr. John
1  A002  Project 2  1000000.0   Ongoing      F    London   27  Mrs. Alice
2  A003  Project 3  4500000.0  Finished      M    Berlin   29    Mr. Mike
3  A004  Project 4  3000000.0   Ongoing      F  New York   31   Mrs. Nina
4  A005  Project 5  1200000.0  Finished      M    Madrid   30    Mr. Fred

   Last Name  Designation Level     Bonus
0      Alter                  2   50000.0
1  Luxemberg                  3       0.0
2       Jobs                  3  225000.0
3      Adgra                  4       0.0
4       Cory                  3   60000.0

In [12]:
# Promote designation level by 1 for employees over 29 years old
final_df["Designation Level"] = final_df.apply(
    lambda row: row["Designation Level"] + 1 if row["Age"] > 29 else row["Designation Level"], axis=1
)
print("After Promotion by Age:")
print(final_df)

After Promotion by Age:
     ID    Project       Cost    Status Gender      City  Age  First Name  \
0  A001  Project 1  1000000.0  Finished      M     Paris   25    Mr. John
1  A002  Project 2  1000000.0   Ongoing      F    London   27  Mrs. Alice
2  A003  Project 3  4500000.0  Finished      M    Berlin   29    Mr. Mike
3  A004  Project 4  3000000.0   Ongoing      F  New York   31   Mrs. Nina
4  A005  Project 5  1200000.0  Finished      M    Madrid   30    Mr. Fred

   Last Name  Designation Level     Bonus
0      Alter                  2   50000.0
1  Luxemberg                  3       0.0
2       Jobs                  3  225000.0
3      Adgra                  5       0.0
4       Cory                  4   60000.0

In [13]:
# Total cost and projects for each employee
total_df = final_df.groupby(["ID", "First Name"]).agg(
    Total_Projects=("Project", "count"), Total_Cost=("Cost", "sum")
).reset_index()
print("Total Projects and Costs DataFrame:")
print(total_df)

Total Projects and Costs DataFrame:
     ID  First Name  Total_Projects  Total_Cost
0  A001    Mr. John               1   1000000.0
1  A002  Mrs. Alice               1   1000000.0
2  A003    Mr. Mike               1   4500000.0
3  A004   Mrs. Nina               1   3000000.0
4  A005    Mr. Fred               1   1200000.0

In [14]:
# Employees whose First Name contains 'n'
names_with_n = final_df[final_df["First Name"].str.contains("n", case=False)]
print("Employees with 'n' in their name:")
print(names_with_n)

Employees with 'n' in their name:
     ID    Project       Cost    Status Gender      City  Age First Name  \
0  A001  Project 1  1000000.0  Finished      M     Paris   25   Mr. John
3  A004  Project 4  3000000.0   Ongoing      F  New York   31  Mrs. Nina

  Last Name  Designation Level    Bonus
0     Alter                  2  50000.0
3     Adgra                  5      0.0